<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NaNchan</title>
        <!-- jquery -->
        <script src='//code.jquery.com/jquery-1.10.2.min.js'></script>
        <!-- Bootstrap CSS -->
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
        <link rel = "stylesheet" type="text/css" href="NaNchan.css">
    </head>
    <body>
      <div class = 'col-sm-12'><center><a href = '/'><img src = "NaNchanLogo.png" class = 'logo' /></a></center></div>
      <div class = 'header col-sm-12'><center><h1>Create a thread</h1></center><div>
        <div class = 'form-group col-sm-12' id = 'createPost'>
            <div id = 'userName'>
                <div class = 'col-sm-6 label'><label for = 'nameBox'>Name</label></div>
                <div class = 'col-sm-6'><input type = 'text' class = 'form-control' id = 'nameBox' placeholder = 'Anonymous'/></div>
            </div>
            <div id = 'topic'>
                <div class = 'col-sm-6 label'><label for = 'topicBox'>Subject</label></div>
                <div class = 'col-sm-6'><input type = 'text' class = 'form-control' id = 'topicBox'/></div>
            </div>
            <div id = 'postContent'>
              <div class = 'col-sm-6 label' id = 'commentLabel'><label for = 'contentBox'>Comment</label></div>
              <div class = 'col-sm-6'><textarea class = 'form-control' rows = '6' id = 'contentBox'></textarea></div>
            </div>
            <div id = 'img'>
              <div class = 'col-sm-6 label'><label for = 'imgBox'>Image URL</label></div>
              <div class = 'col-sm-6'><input type = 'text' class = 'form-control' id = 'imgBox'/></div>
            </div>
            <div id = 'confirm'>
              <center>
                <button type = 'button' id = 'submitPost' class = 'btn btn-default'>
                  Post
                </button>
              </center>
            </div>
        </div>
        <hr />
        <div id = 'posts' class = 'col-sm-12'>
          <% @all_threads.each do |bread| %>
            <% @origin = Originalpost.where(:id => bread[:originalpost_id]) %>
            <% @origin.each do |op| %>
            <div class = 'thread col-sm-12'>
              <div class = 'op col-sm-12'>
                <div class = 'col-sm-5 col-xs-12'>
                  <% if op.imgurl != '' %>
                    <a href = '<%= op.imgurl %>' target = '_blank'>
                      <img src = '<%= op.imgurl %>' class = 'op_pic' />
                    </a>
                  <% else %>
                    <!-- If you try to start a thread on an imageboard without posting an image, suzi q will be sad -->
                    <div>Why would you go to an imageboard to not post images?</div>
                    <img src = 'https://avvesione.files.wordpress.com/2013/02/jojos_bizarre_adventure-18-suzi_q-maid-crying-tears-sad.jpg' class = 'op_pic' />
                  <% end %>
                </div>
                <div class = 'col-sm-7 col-xs-12'>
                  <div><span class = 'name'><%= op.poster %></span> <span class = 'subject'><%= bread.subject %></span> [<a href = "/<%= bread[:id] %>">Reply</a>]</div>
                  <div><%= op.content %></div>
                </div>
              </div>
              <br />
              <% end %>
              <% @all_posts = Post.where(:nanthread_id => bread[:id]) %>
              <% postsLeft = 5 %>
              <% @all_posts.each do |post| %>
                <% if postsLeft == 0 %>
                  <div class = 'col-sm-12'><a href = '/<%= bread[:id] %>' class = 'see_more'>See more posts</a></div>
                  <% break %>
                <% else %>
                  <% postsLeft -= 1 %>
                  <br />
                  <div class = 'reply col-sm-6'>
                    <% if post.imgurl != '' %>
                      <a href = '<%= post.imgurl %>' target='_blank'>
                        <img src = '<%= post.imgurl %>' class = 'reply_pic' />
                      </a>
                    <% end %>
                  <div><span class = 'name'><%= post.poster %></span></div>
                  <div><%= post.content %></div>
                  </div>
                  <br />
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
          <script type='text/javascript' src='NaNchan.js'></script>
    </body>
</html>
